.contacts {
  padding: 55px 20px 65px;
  text-align: center;
}

.contacts-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-main-black);
}

.contacts-button {
  width: 210px;
  height: 42px;
  background-color: var(--color-main-black);
  color: var(--bg-main);
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 21px;
  margin: 75px 0 30px;
}

.contacts-button:hover {
  opacity: 0.8;
}

.button-link {
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-icon {
  width: 65px;
  height: 65px;
}

.contacts-info {
  color: var(--font-color-grey);
  margin: 35px auto 0;
  font-size: 16px;
  font-weight: 500;
  width: 260px;
}

@media (max-width: 480px) {
  .social {
    gap: 20px;
  }
  .social-icon {
    width: 55px;
    height: 55px;
  }
  .contacts-info {
    font-size: 14px;
  }
}
